n8n-workflows/My-workflow.json
{"name":"My workflow","nodes":[{"parameters":{"url":"=https://api.pluggy.ai/transactions?accountId=2ad07dd9-71a6-433e-a257-3d1410106e47&from={{ $json.fromDate }}T00:00:00.000Z&to={{ $json.toDate }}T23:59:59.999Z&pageSize=200","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"={{ $json.apiKey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"name":"Buscar Extrato","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1456,16],"id":"8a304216-1d04-43bb-8e3c-fd2a6a056384"},{"parameters":{"method":"POST","url":"https://script.google.com/macros/s/AKfycbzXvQE6v1WMbtPPzd85WDk1o7iPFAMVNS6pSk1LIaEiFo5zvCWFvVGb5Kbuv2kTWlHhUg/exec","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"transactions\": {{ $json.results }}\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1664,384],"id":"75e2f7e7-4b8c-41e7-b8c6-8e6a5e55fe1e","name":"HTTP Request","alwaysOutputData":true,"disabled":true},{"parameters":{"jsCode":"const results = items[0].json.results || [];\n\nreturn results.map(r => {\n  const rawDate = r.date || r.dateCreated;\n  const date = rawDate && typeof rawDate === 'string' && rawDate.includes('T') ? rawDate.split('T')[0] : rawDate;\n  const pessoa = (r.description || r.merchantName || r.paymentData?.payer?.name || 'Transação sem descrição').trim();\n  const paymentMethod = r.paymentData?.paymentMethod ?? '';\n  const descricao = paymentMethod;\n  const amount = Math.abs(parseFloat(r.amount) || 0);\n  const originalAmount = parseFloat(r.amount) || 0;\n  const tipo = originalAmount >= 0 ? 'entrada' : 'saida';\n  const id_unico = `${rawDate || date}-${pessoa}-${amount}`;\n\n  return {\n    json: {\n      data: date,\n      descricao: descricao || '',\n      valor: amount,\n      tipo: tipo || 'saida',\n      pessoa: pessoa || '',\n      id_unico: id_unico,\n      categoria: paymentMethod || ''\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1664,16],"id":"e196f354-416b-48fd-996a-540cde1725ee","name":"Code in JavaScript"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1872,16],"id":"fc9f7050-89b4-456e-96e7-abf4116a8a52","name":"Aggregate"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2080,16],"id":"a10bba6b-17c1-4812-9f03-f523083ae4f5","name":"Split Out"},{"parameters":{"assignments":{"assignments":[{"id":"6064def9-544e-4e6a-934d-3fee5a5d64ac","name":"id_unico","value":"={{ $json.id_unico }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2288,16],"id":"b78d12aa-c97e-4abf-bcdc-d53769e2d1c4","name":"Edit Fields"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":24,"triggerAtMinute":0}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-448,16],"id":"92ef1502-2648-40fa-b405-af8261e0c9dd","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"aeb4e7ca-47fb-40ff-9f1c-1f83365a4555","name":"itemId","value":"35967bf3-89d9-4f26-ad2c-5009e86c533f","type":"string"},{"id":"51332f70-e8ed-40f7-b953-95ea2fbc5c26","name":"apiKey","value":"={{ $json.apiKey }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[400,0],"id":"76fef12d-cc0d-4538-8e67-375d69509642","name":"Edit Fields1"},{"parameters":{"amount":3,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[224,240],"id":"a549c03c-7229-4101-96db-87d6f52e86ee","name":"Wait","webhookId":"523eeb41-ad82-479e-be44-59ba8ccfd231"},{"parameters":{"amount":3,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[416,320],"id":"a39241bb-4b72-4ac0-b372-13772c261a5f","name":"Wait1","webhookId":"3e2492f5-74ff-4640-93c6-a799883517bf"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cbb55324-48fb-47ef-8a59-9b257cb8f857","leftValue":"={{ $input.all().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-96,144],"id":"0af10e6c-6b6c-4394-bd78-822ab1005f71","name":"If"},{"parameters":{"method":"POST","url":"https://api.pluggy.ai/auth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"clientId\": \"a331a598-b662-4ea5-bb44-c2dc384971c2\",\n  \"clientSecret\": \"6f64c3b5-6fb8-489f-b1fb-43432a336772\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[240,64],"id":"59dd6591-7065-4e24-a544-7a7a966ed721","name":"Preparar Variáveis"},{"parameters":{"method":"PATCH","url":"=https://api.pluggy.ai/items/{{ $json.itemId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"={{ $json.apiKey }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[640,96],"id":"8c0c4f95-0f2e-4475-8cbd-0ea6c900cf70","name":"Receber Variáveis"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[832,-64],"id":"ac31541e-cef1-4ee8-9dc2-6f3d629c0191","name":"Merge"},{"parameters":{"jsCode":"const input = $input.item.json;\n\n// Pegar apiKey - pode vir como string ou objeto\nlet apiKey = input.apiKey;\nif (typeof apiKey === 'object' && apiKey !== null) {\n  apiKey = apiKey.token || apiKey.apiKey || JSON.stringify(apiKey);\n}\napiKey = String(apiKey || '');\n\n// Remover caracteres inválidos para headers (newline, tab, aspas, etc)\nconst cleanApiKey = String(apiKey || '').replace(/[\\r\\n\\t\"'\\x00]/g, '').trim();\n// Pegar itemId\nconst itemId = input.itemId || input.id || '';\n\n// Pegar accountId\nconst accountId = input.accountId || input.id || '';\n\n// Pegar datas do node \"Pegar última data\"\nlet fromDate = input.fromDate;\nlet toDate = input.toDate;\nif (!fromDate || !toDate) {\n  try {\n    const datasNode = $('Pegar última data').item.json;\n    fromDate = datasNode.fromDate || fromDate;\n    toDate = datasNode.toDate || toDate;\n  } catch (e) {\n    const hoje = new Date();\n    const trintaDiasAtras = new Date();\n    trintaDiasAtras.setDate(hoje.getDate() - 30);\n    fromDate = fromDate || trintaDiasAtras.toISOString().split('T')[0];\n    toDate = toDate || hoje.toISOString().split('T')[0];\n  }\n}\n\n  if (!fromDate || !toDate) {\n    const hoje = new Date();\n    const trintaDiasAtras = new Date();\n    trintaDiasAtras.setDate(hoje.getDate() - 30);\n    fromDate = fromDate || trintaDiasAtras.toISOString().split('T')[0];\n    toDate = toDate || hoje.toISOString().split('T')[0];\n  }\n\nreturn {\n  json: {\n    apiKey: cleanApiKey,\n    itemId: itemId,\n    accountId: accountId,\n    fromDate: fromDate,\n    toDate: toDate\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,-64],"id":"fd34254c-6356-4fd3-837b-1ecaa00bc3ea","name":"Code in JavaScript1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2528,64],"id":"baa34549-5428-4e08-b1b5-fae3cc6cf632","name":"Loop Over Items"},{"parameters":{"jsCode":"const items = $input.all();\n\n// Se não tem transações (tabela vazia), usa últimos 30 dias\nif (items.length === 0) {\n  const hoje = new Date();\n  const trintaDiasAtras = new Date();\n  trintaDiasAtras.setDate(hoje.getDate() - 30);\n  \n  return {\n    json: {\n      fromDate: trintaDiasAtras.toISOString().split('T')[0],\n      toDate: hoje.toISOString().split('T')[0]\n    }\n  };\n}\n\n// Ordena por data (mais recente primeiro)\nconst sorted = items.sort((a, b) => {\n  const dateA = new Date(a.json.data || 0);\n  const dateB = new Date(b.json.data || 0);\n  return dateB - dateA;\n});\n\n// Pega a data da mais recente\nconst lastDate = new Date(sorted[0].json.data);\nconst hoje = new Date();\n\n// fromDate = dia seguinte à última transação (para não repetir)\nlastDate.setDate(lastDate.getDate() + 1);\nconst fromDate = lastDate.toISOString().split('T')[0];\nconst toDate = hoje.toISOString().split('T')[0];\n\nreturn {\n  json: {\n    fromDate: fromDate,\n    toDate: toDate\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,-112],"id":"d8921801-cd9f-4084-b143-35c441e7c041","name":"Pegar última data"},{"parameters":{"operation":"getAll","tableId":"transacoes"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-240,16],"id":"092c88af-a4a1-4dae-840d-1362e5014a78","name":"Get many rows","credentials":{"supabaseApi":{"id":"ae0mnw9CFivJ3zWv","name":"Supabase account"}}},{"parameters":{"jsCode":"const hoje = new Date();\nconst trintaDiasAtras = new Date();\ntrintaDiasAtras.setDate(hoje.getDate() - 30);\n\nreturn {\n  json: {\n    fromDate: trintaDiasAtras.toISOString().split('T')[0] + 'T00:00:00.000Z',\n    toDate: hoje.toISOString().split('T')[0] + 'T23:59:59.999Z'\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[64,96],"id":"d22cee5d-0193-45f8-a45c-46c05ca44fed","name":"Code in JavaScript2"},{"parameters":{"tableId":"transacoes","fieldsUi":{"fieldValues":[{"fieldId":"data","fieldValue":"={{ $json.data }}"},{"fieldId":"pessoa","fieldValue":"={{ $json.pessoa ?? '' }}"},{"fieldId":"valor","fieldValue":"={{ $json.valor }}"},{"fieldId":"descricao","fieldValue":"={{ $json.descricao }}"},{"fieldId":"tipo","fieldValue":"={{ $json.tipo ?? 'saida' }}"},{"fieldId":"id_unico","fieldValue":"={{ $json.id_unico }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2736,-32],"id":"cfc6e8c6-eafc-441c-b2db-5b939626b6d8","name":"Create a row","credentials":{"supabaseApi":{"id":"ae0mnw9CFivJ3zWv","name":"Supabase account"}},"onError":"continueRegularOutput"}],"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2026-02-10T15:02:02.530-05:00","Readable date":"February 10th 2026, 3:02:02 pm","Readable time":"3:02:02 pm","Day of week":"Tuesday","Year":"2026","Month":"February","Day of month":"10","Hour":"15","Minute":"02","Second":"02","Timezone":"America/New_York (UTC-05:00)"},"pairedItem":{"item":0}}]},"connections":{"Buscar Extrato":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get many rows","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Receber Variáveis","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Wait":{"main":[[]]},"Wait1":{"main":[[]]},"If":{"main":[[{"node":"Pegar última data","type":"main","index":0}],[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Preparar Variáveis":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Receber Variáveis":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Buscar Extrato","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Create a row","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Pegar última data":{"main":[[{"node":"Preparar Variáveis","type":"main","index":0},{"node":"Merge","type":"main","index":2}]]},"Get many rows":{"main":[[{"node":"If","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Preparar Variáveis","type":"main","index":0}]]}},"active":true,"settings":{"executionOrder":"v1","availableInMCP":false},"versionId":"ae1932da-0753-4340-a479-55e7915c61ed","meta":{"templateCredsSetupCompleted":true,"instanceId":"e165759305439cbad49d852dfd7bab13cb6bb7eb1d894fb31e1c852093a976c5"},"id":"-Nc7E0Egd0-eLWBBKD0S4","tags":[]}
